[submodule "Mask_RCNN"]
	path = Mask_RCNN
	url = git@github.com:rzadp/Mask_RCNN.git
[submodule "via"]
	path = via
	url = https://gitlab.com/vgg/via.git
[submodule "mrcnn_serving_ready"]
	path = mrcnn_serving_ready
	url = https://github.com/rzadp/mrcnn_serving_ready
