node_modules

*.png
*.jpg

.DS_Store
logs

__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

output*.txt
badminton/training/*.h5
badminton/detection/*.h5
badminton/training/cases/*.env
badminton/training/saved_logs/
